.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#book-control-panel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
  display: none;

  
  justify-content: center;
  align-items: center;
}

.book-control-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  
  background: #f7f7fa;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}


#read-book-btn,
#remove-book-btn {
  width: 200px;
  height: 50px;
}

#read-book-btn {
  background-color: #e0f7e9; /* Light green */
  border: none;
  color: #218c5a;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.2s;
}

#read-book-btn:hover {
  background-color: #c2eed7;
}

#remove-book-btn {
  background-color: #ffeaea; /* Light red */
  border: none;
  color: #c62828;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.2s;
}
#remove-book-btn:hover {
  background-color: #ffd6d6;
}